<!DOCTYPE html>
<html>
  <head>
    <title>Borbulha</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  </head>

  <body>
    <%- body %> 
    <script src="/js/utilities/open-stripe-checkout.js"></script>
  </body>
</html>
