<!DOCTYPE html>
<html lang="pt-br">
    <head> 
        <meta charset="UTF---8">
        <title>Borbulha</title>
        <link rel="icon" href="../assets/logo_reduzido.png" type="image/png">        
    </head>
</html>

<body>
    <!-- Aqui temos os teextos que vão de h(texto normal) a h6 -->
    <h>Texto</h>
    <h1>Titulo1</h1>
    <h2>Titulo2</h2>
    <h3>Titulo3</h3>
    <h4>Titulo4</h4>
    <h>Texto</h>

    <!-- Lista com pontos -->
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <!-- Lista com números -->
    <ol>
        <li>Primeiro item</li>
        <li>Segundo item</li>
        <li>Terceiro item</li>
    </ol>

    <!-- imagem -->
    <img src="../assets/logo_reduzido.png" >
    
    <!-- Hiperlink -->
    <a href="https://adalove.inteli.edu.br/">Adalove</a>

    <!-- formulario -->
    <form action="/enviar" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        
        <!-- botão -->
        <button type="submit">Enviar</button>
    </form>
    
   </body>